<div class="container clearfix">
  <div id="content">
    <div id="home-info">
      <h2 id="lemma">
        Connect with hikers and the <br>
        world around you on Hikers Hangout.
      </h2>
      <div class="odinbook_features">
        <div class="product_desc">
          <span class="highlight_text">See photos and updates</span>
          <span class="ordinary_text">from friendes in News Feed.</span>
        </div>
      </div>
      <div class="odinbook_features">
        <div class="product_desc">
          <span class="highlight_text">Share what's new</span>
          <span class="ordinary_text">in your life on your Timeline.</span>
        </div>
      </div>
      <div class="odinbook_features">
        <div class="product_desc">
          <span class="highlight_text">Find more</span>
          <span class="ordinary_text">of what you're looking for with Hikers Hangout Search.</span>
        </div>
      </div>
    </div>
    <div class="home-register-form">
      <%= render 'devise/registrations/new' %>
    </div>
  </div>
</div>
