.side_bar {
  float: left;
  width: 140px;
  height: 400px;
  display: inline-block;
}

.side_bar li {
  margin-top: 20px;
  a {
      color: #1d2129;
      font-size: 14px;
  }

  img {
      margin-top: -5px;
      width: 32px;
      height: 32px;
  }
}

ol, ul {
  list-style: none;
}

/*=========================
  Profile sidebar styles
===========================*/
.profile-img {
  display: inline-block;
}

.profile-name {
  width: 100px;
  font-size: 14px;
  margin-top: -6px;
  vertical-align: top;
  margin-left: 4px;
  display: inline-block;
}
