body {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}
h1, h3, h2 {
  float: left;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #1b1b95;
  margin-top: 10px;
}
#user_nav {
  float: left;
  width: 100%;
  background-color: #1576c3;
}
#user_nav img {
  float: left;
  height: 39px;
  background-color: white;
}
#user_nav .urls {
  float: right;
}
#user_nav .urls a {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  padding-left: 10px;
  color: white;
  padding-right: 10px;
  font-size: 18px;
}
#user_nav .urls a:hover {
  background-color: #1c87dc;
}
#user_nav form {
  float: left;
  min-width: 300px;
}
#user_nav form .fieldElement {
  float: left;
  margin-right: 10px;
}
#user_nav form label {
  float: left;
  margin-right: 10px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
#user_nav form input {
  float: left;
  width: 95px;
  margin-top: 8px;
}
#user_nav form .actions {
  float: left;
}
#user_nav form .actions input {
  float: left;
  width: 50px;
  background-color: #0f0f89;
  color: #ffffff;
  border: none;
  padding: 5px;
  margin: 0;
  margin-top: 8px;
  cursor: pointer;
}
#user_nav form .loginCheckbox {
    float: left;
}
#user_nav form .loginCheckbox input {
  width: 19px;
  margin-top: 14px;
}
.postOrCommentForm {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.postOrCommentForm form {
  float: left;
  width: 100%;
  text-align: center;
}
.postOrCommentForm textarea {
  width: 450px;
  height: 65px;
}
.postOrCommentForm input {
  cursor: pointer;
  margin-bottom: 10px;
  width: 180px;
}

.posList {
  float: left;
  width: 100%;
}
.posList .wrapper {
  float: none;
  width: 585px;
  margin-left: auto;
  margin-right: auto;
}
.posList .wrapper .post {
  float: left;
  padding: 2%;
  background-color: #efefef;
  width: 96%;
  margin-bottom: 10px;
}
.posList .wrapper .post p {
  margin: 0;
  float: left;
  width: 100%;
  text-align: justify;
}
.posList .wrapper .post .options {
  float: left;
      width: 100%;
      margin-top: 10px;
}
.posList .wrapper .post .options a {
  float: left;
  margin-right: 5px;
}
.posList .wrapper .post .options form {
  float: right;
}
.posList .wrapper .post .options form button[name="button"]{
  color: #fff;
  font-size: 14px;
  padding: 5px 6px;
  border-radius: 2px;
  border: 1px solid #3a5795;
  background-color: #3a5795;
  cursor:pointer;
}
.posList .wrapper .author {
  float: left;
  width: 96%;
  background-color: #4f71bb;
  padding: 2%;
  color: white;
}
.posList .wrapper .author a {
  color: #c4deff;
  float: left;
}
.posList .wrapper .commentList {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.posList .wrapper .commentList .commentWrapper {
    float: left;
    width: 96%;
    padding: 2%;
    background-color: #e4e4e4;
    border-bottom: solid 1px #c9c9c9;
}
.posList .wrapper .commentList .commentWrapper p {

}
.posList .wrapper .commentList .commentWrapper form {
  float:left;
}
.posList .wrapper .commentList .commentWrapper button {
  background: no-repeat;
  border: navajowhite;
  color: #0700ee;
  cursor: pointer;
}
.posList .wrapper .commentForm {
  float: left;
      width: 100%;
}
.posList .wrapper .commentForm form {
  float: left;
      width: 100%;
}
.posList .wrapper .commentForm form textarea {
  float: left;
width: 100%;
padding: 0;
border: oldlace;
margin-top: 10px;
margin-bottom: 10px;
}
.userList {
  width: 510px;
  margin-left: auto;
  margin-right: auto;
}
.userList .user {
  float: left;
  width: 96%;
  padding: 2%;
  background-color: #dedede;
  margin-bottom: 5px;
}
.userList .user a {
  float: left;
      color: #527fd7;
}
.userList .user .pull-right {
float: right;
}
.userList .user .pull-right form button {
    cursor: pointer;
}
.userList .user a img {
  float: left;
  width: 50px;
  margin-right: 7px;
}
.posList .wrapper .author span {
  float: left;
  margin-right: 5px;
}
.posList .wrapper .author a img {
  float: left;
  width: 20px;
  margin-right: 7px;
}
.posList .wrapper .commentList .commentWrapper .authorPart {

}
.posList .wrapper .commentList .commentWrapper .authorPart span {
  float: left;
  margin-right: 7px;
}
.posList .wrapper .commentList .commentWrapper .authorPart a {
float: left;
}
.posList .wrapper .commentList .commentWrapper .authorPart a img {
  float: left;
  width: 20px;
  margin-right: 7px;
}
.posList .wrapper .commentList .commentWrapper p {
  float: left;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
.friendListShow {
  float: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.friendListShow .friend {
  float: left;
  width: 16%;
  margin-bottom: 10px;
  padding: 2%;
}
.friendListShow .friend a {
  float: left;
  text-align: center;
}
.friendListShow .friend a img {
  float: left;
      width: 100%;
}
.home-register-form {
  float: right;
  width: 42%;
}
.home-register-form .new_user {
  float: left;
  width: 100%;
  margin-top: 11px;
}
.editUser .new_user {
  float: none;
  margin: auto;
  width: 60%;
}
.new_user .field {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.new_user .field label {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
.new_user .field input {
  float: left;
  width: 90%;
  height: 20px;
  cursor: auto;
}
.home-register-form .new_user .actions {
  float: left;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}
.home-register-form .new_user .actions input,
.editUser .new_user .actions input {
  width: 200px;
  height: 28px;
  background-color: #00529bc9;
  color: white;
  font-weight: bold;
  padding: 0;
  border: none;
  cursor: pointer;
}
.destroyUser {
  float: left;
  width: 100%;
  text-align: center;
}
.destroyUser a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3273ae;
  color: white;
}
